<div class="container">
  <h2>ConcatMap</h2>
  <div class="row">
    <div class="col">
      <strong>Source-1 | map</strong>
      <hr>
      <h6>Tech video list:[Tech,comedy,News]</h6>
      <div class="card">
        <div class="card-header">
          Your Channel (Subscirber)
        </div>
        <div class="card-body">
          <ul id="ul">

          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <strong>Source-2 |mergemap
      </strong>
      <hr>
      <h6>Tech video list:[Tech,comedy,News]</h6>
      <div class="card">
        <div class="card-header">
          Your Channel (Subscirber)
        </div>
        <div class="card-body">
          <ul id="ul2">

          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <strong>Source-3 | concatMap</strong>
      <hr>
      <h6>News video list:[Tech,comedy,News]</h6>
      <div class="card">
        <div class="card-header">
          Your Channel (Subscirber)
        </div>
        <div class="card-body">
          <ul id="ul3">

          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr>

</div>

