<div class="container">
  <h2>Merge</h2>
  <div class="row">
    <div class="col">
      <strong>Source-1 | Tech channel(5 data)</strong>
      <hr>
      <h6>Tech video list:1,2,3,4,5</h6>
    </div>

    <div class="col">
      <strong>Source-2 | Comedy channel(3 data)</strong>
      <hr>
      <h6>Tech video list:1,2,3</h6>
    </div>

    <div class="col">
      <strong>Source-3 | News channel(4 data)</strong>
      <hr>
      <h6>News video list:1,2,3,4</h6>
    </div>
  </div>
  <hr>
  <div class="card">
    <div class="card-header">
      Your Channel (Subscirber)
    </div>
    <div class="card-body">
      <ul id="ul">

      </ul>
    </div>
  </div>
</div>
