
  <a class="btn btn-primary mt-3 mx-3" [routerLink]="['asyncsubject']" routerLinkActive="router-link-active">Acync Subject</a>
  <a class="btn btn-primary mt-3 mx-3" [routerLink]="['concat']" routerLinkActive="router-link-active">Concat</a>
  <a class="btn btn-primary mt-3 mx-3" [routerLink]="['merge']" routerLinkActive="router-link-active">Merge</a>
  <a class="btn btn-primary mt-3 mx-3" [routerLink]="['mergemap']" routerLinkActive="router-link-active">MergeMap</a>

  <a class="btn btn-primary mt-3 mx-3" [routerLink]="['concatmap']" routerLinkActive="router-link-active">ConcatMap</a>
  <a class="btn btn-primary mt-3 mx-3" [routerLink]="['switchmap']" routerLinkActive="router-link-active">switchmap</a>
  <a class="btn btn-primary mt-3 mx-3" [routerLink]="['concatmap2']" routerLinkActive="router-link-active">Concatmap2</a>
  <a class="btn btn-primary mt-3 mx-3" [routerLink]="['switchmap2']" routerLinkActive="router-link-active">switchmap2</a>
  <a class="btn btn-primary mt-3 mx-3" [routerLink]="['exhaustmap']" routerLinkActive="router-link-active">exhaustmap</a>
  <a class="btn btn-primary mt-3 mx-3" [routerLink]="['shareReplay']" routerLinkActive="router-link-active">shareReplay</a>
  <a class="btn btn-primary mt-3 mx-3" [routerLink]="['combineLatest']" routerLinkActive="router-link-active">combineLatest</a>
  <router-outlet></router-outlet>

